<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.campuslinker.app">

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        android:minSdkVersion="33" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google/android.gms.permission.AD_ID"
        tools:node="remove"/>

    <application
        android:name="com.campuslinker.app.token_management"
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="Campus_Linker_Alarm" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/campus_linker_circle" />
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCkbDDR4ZmCPY2UvasfAjLM4Rfz7UWloIo" />
<!--AIzaSyCkbDDR4ZmCPY2UvasfAjLM4Rfz7UWloIo  api 코드-->
        <activity
            android:name="com.campuslinker.app.Make_matchboard_maps"
            android:exported="false"
            android:label="@string/title_activity_make_matchboard_maps" />
        <activity
            android:name="com.campuslinker.app.Read_matchboard_maps"
            android:exported="false"
            android:label="@string/title_activity_read_matchboard_maps" />
        <activity
            android:name="com.campuslinker.app.ChattingActivity"
            android:exported="false" />


        <service
            android:name="com.campuslinker.app.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name="com.campuslinker.app.MapsActivity"
            android:exported="true"
            android:label="@string/title_activity_maps" />
        <activity
            android:name="com.campuslinker.app.ReadMatchBoardActivity"
            android:exported="true" />
        <activity
            android:name="com.campuslinker.app.ReadFreeBoardActivity"
            android:exported="true" />
        <activity
            android:name="com.campuslinker.app.GoogleMaps"
            android:exported="true"
            android:label="@string/title_activity_google_maps" />
        <activity
            android:name="com.campuslinker.app.MakematchBoardActivity"
            android:exported="true" />
        <activity
            android:name="com.campuslinker.app.LocationActivity"
            android:exported="true" />
        <activity
            android:name="com.campuslinker.app.MakefreeboardActivity"
            android:exported="true" />
        <activity
            android:name="com.campuslinker.app.BoardActivity"
            android:exported="true" />
        <activity
            android:name="com.campuslinker.app.NaviActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name="com.campuslinker.app.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.campuslinker.app.ResisterActivity"
            android:exported="true" />
        <activity
            android:name="com.campuslinker.app.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>